
<body>
<div class="banner" >
    
      <div class="hero">
        <img class="banner-picture" src="/assets/iStock-909924004.jpg"  alter="garage">
  
      </div>
      <main>
      <div class="mission" >
        <h1 style="text-align: left;">Our MISSION: Quality Service</h1>
        <h2 >Convenient Auto Repair specializing in Audi, VW, BMW, Toyota, Lexus and more.</h2>

  
  
  <figure class="text-md-center">
  
  <div style="font-size: larger;">
   
        From my house to yours, <br>
                  Schedule your Appointment Today!
                        
  </div>
  <button mat-fab extended color="primary" routerLink="/create">Schedule Appointment</button>
  
  </figure>
  <div style="clear:both"></div>

      </div>
      </main>
    </div>
    <mat-grid-list [cols]="isMobile ? 1 : 4" gutterSize="5px" cols="4" rowHeight="1:2">
      <mat-grid-tile-header style="font-weight: bold; text-align: center; font-size: large; color: #000; background-color: white;  ">Free Pickup and Delivery Avaliable to Customers within 1 Mile</mat-grid-tile-header>
      <hr stlye="padding: 20px">
      <mat-grid-tile-header style="font-weight: bold; font-size: large; color: #000; background-color: white;  ">Below you will learn step-by-step how you will be taken care of every step of the way</mat-grid-tile-header>
      <mat-grid-tile>
        <mat-grid-tile-header>1</mat-grid-tile-header>
        <h1>YOUR VEHICLE INSPECTION BEGINS</h1>        
        <h3 >Once you set your appointment and either drop off your vehicle or conveniently have your vehicle picked up the Technician will do the rest.</h3>
        </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>2</mat-grid-tile-header>
        <h1>THE TECHNICIAN WILL CONTACT YOU</h1>
        <h3>The Technician will let you know if there are any repairs needed to be done to your vehicle.</h3>
      </mat-grid-tile>
      <mat-grid-tile>
      <mat-grid-tile-header>3</mat-grid-tile-header>
      <h1>REPAIRS WILL BE STARTED</h1>
      <h3>The Technician will then start working on the agreed upon repairs for your vehicle.</h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>4</mat-grid-tile-header>
      <h1>PICK UP YOUR VEHICLE OR CONVENIENTLY GET IT DELIVERED</h1>
      <h3>Once your vehicle has been serviced and tested, we will then coordinate a time for you to pick up your vehicle or drop it off!</h3>
      </mat-grid-tile>
    </mat-grid-list>

</body>



