img {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  .banner-picture {
    
        width: 100%;
        height: auto;
      
  }
  button {
      float: right;
  }

  main {
    align-content: center;
  }
  h1 {
    text-align: center;
    padding-bottom: 40px;
  }
  mat-grid-tile {
    background-color: lightgray;
  }
  .mat-grid-tile .mat-figure, h3 {
    padding: 10px;
    bottom: 0;
    position: absolute;
    display: block !important ;
    align-items: flex-end; 
    justify-content: flex-end;
    text-align: center;
}

