
  <div class="container">


<mat-grid-list [cols]="isMobile ? 1 : 2" cols="2" rows="1" gutterSize="15px"rowHeight=".8:0.5">
  <mat-grid-tile >
    <mat-grid-tile-header style="font-weight: bold; font-size: x-large; color: #000; background-color: white;  ">Available Services</mat-grid-tile-header>
    
    <p>With over 15 years of experience working on German vehicles, I can perform any type of repair, from factory maintenance to engine overhauls. We can keep your vehicle working to its potential!</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Maintenance Services</mat-grid-tile-header>
    <ul>
  <li>Factory Scheduled Maintenance</li>
  <li>Oil and Filter Service</li>
  <li>Tire Rotation</li>
  <li>Cooling System Flush</li>
  </ul>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Engine Service</mat-grid-tile-header>
    <ul>
  <li>Timing Belt Replacement</li>
  <li>Timing Chain Replacement</li>
  <li>Oil Leak Diagnosis</li>
  <li>Head Gaskets</li>
  <li>Exhaust System Replacement</li>
  </ul>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Electrical</mat-grid-tile-header>
    <ul>
  <li>Batteries</li>
  <li>Alternators</li>
  <li>Starters</li>
  <li>Airbag Diagnosis</li>
  <li>Windshield Wipers & Washers</li>
  </ul>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Brake Systems</mat-grid-tile-header>
    <ul>
  <li>Brake Inspection & Diagnosis</li>
  <li>Brake Fluid Exchange</li>
  <li>Brake Disc Service</li>
  <li>Drum Brake Service</li>
  <li>ABS Diagnosis</li>
  </ul>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Drive Train</mat-grid-tile-header>
    <ul>
  <li>Transmission Fluid Service</li>
  <li>Transmission Replacement</li>
  <li>Transmission Repairs</li>
  <li>4 X 4 Service</li>
  </ul>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Cooling System</mat-grid-tile-header>
    <ul>
    <li>Overheating Diagnosis</li>
  <li>Thermostat Replacement</li>
  <li>Waterpump Replacement</li>
  <li>Heater Core Replacement</li>
  <li>Radiators</li>
  </ul>
  </mat-grid-tile>
  
</mat-grid-list>

</div>
